@model Email_Generator.Models.Article
@{
    ViewBag.Title = "Article";
}

<h2>Article</h2>
@using (Html.BeginForm())
{
<filedset>
    <legend>Article</legend>
    <div class="label">@Html.LabelFor(m => m.title)</div>
    <div class="field">@Html.DisplayFor(m => m.title)</div>

    <div class="label">@Html.LabelFor(m => m.description)</div>
    <div class="field">@Html.DisplayFor(m => m.description)</div>

    <div class="label">@Html.LabelFor(m => m.link)</div>
    <div class="field">@Html.DisplayFor(m => m.link)</div>

    <div class="label">@Html.LabelFor(M => M.category)</div>
    <div class="field">@Html.DisplayFor(m => m.category)</div>

    <div class="label">@Html.LabelFor(m => m.position)</div>
    <div class="field">@Html.DisplayFor(m => m.position)</div>

    <div class="label">@Html.LabelFor(m => m.issue)</div>
    <div class="field">@Html.DisplayFor(m => m.issue)</div>
</filedset>
}
<div>
    @Html.ActionLink("Edit", "EditArticle", new { id = Model.id }) |
    @Html.ActionLink("Bak to issue", "Issue", new { id = Model.id}) |
    @Html.ActionLink("Delete", "DeleteArticle", new { id = Model.id)
</div>