@model Email_Generator.Models.ArticleViewModel
@{
    ViewBag.Title = "Delete Article";
}

<h2>Delete Article</h2>
@using (Html.BeginForm())
{
    <filedset>
    <legend>Article</legend>
    <div class="label">@Html.LabelFor(m => m.title)</div>
    <div class="field">@Html.DisplayFor(m => m.title)</div>

    <div class="label">@Html.LabelFor(m => m.description)</div>
    <div class="field">@Html.DisplayFor(m => m.description)</div>

    <div class="label">@Html.LabelFor(m => m.link)</div>
    <div class="field">@Html.DisplayFor(m => m.link)</div>

    <div class="label">@Html.LabelFor(M => M.category)</div>
    <div class="field">@Html.DisplayFor(m => m.category)</div>

    <div class="label">@Html.LabelFor(m => m.position)</div>
    <div class="field">@Html.DisplayFor(m => m.position)</div>

    <div class="label">@Html.LabelFor(m => m.issue)</div>
    <div class="field">@Html.DisplayFor(m => m.issue)</div>

    <div><input type="submit" value="Delete" /> |
        @Html.ActionLink("Cancel", "Issue", new { id = Model.id }) |
        @Html.ActionLink("Edit", "EditArticle", new { id = Model.id }) 
    </div>
</filedset>
}