@model Email_Generator.Models.IssueViewModel
@{
    ViewBag.Title = "EditIssue";
}

<h2>EditIssue</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Edit Issue</legend>
        <div class="labelName">@Html.LabelFor(m => m.semester)</div>
        <div class="field">@Html.EditorFor(m => m.semester) @Html.ValidationMessageFor(m => m.semester)</div>

        <div class="labelName">@Html.LabelFor(m => m.year)</div>
        <div class="field">@Html.EditorFor(m => m.year) @Html.ValidationMessageFor(m => m.year)</div>

        <div class="labelName">@Html.LabelFor(m => m.volume)</div>
        <div class="field">@Html.EditorFor(m => m.volume) @Html.ValidationMessageFor(m => m.volume)</div>

        <div class="button-group">
            <input type="submit" value="Save" class="button icon approve"/>
            @Html.ActionLink("Delete", "DeleteIssue", new { id = Model.id }, new { @class = "button danger icon remove" })
            @Html.ActionLink("Go to issue", "Issue", new { id = Model.id}, new { @class = "button icon log" })
        </div>
    </fieldset>
}