@model Email_Generator.Models.ArticleViewModel
@{
    ViewBag.Title = "Edit Article";
}

<h2>Edit Article</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Edit Article</legend>

        <div class="label">@Html.LabelFor(m => m.title)</div>
        <div class="field">@Html.EditorFor(m => m.title) @Html.ValidationMessageFor(m => m.title)</div>

        <div class="label">@Html.LabelFor(m => m.description)</div>
        <div class="field">@Html.EditorFor(m => m.description) @Html.ValidationMessageFor(m => m.description)</div>

        <div class="label">@Html.LabelFor(m => m.link)</div>
        <div class="field">@Html.EditorFor(m => m.link) @Html.ValidationMessageFor(m => m.link)</div>

        <div class="label">@Html.LabelFor(m => m.category)</div>
        <div class="field">@Html.DropDownListFor(m => m.category, (SelectList) ViewBag.categories) @Html.ValidationMessageFor(m => m)</div>

        <div class="labal hide">@Html.LabelFor(m => m.date)</div>
        <div class="field hide date">@Html.EditorFor(m => m.date)</div>

        <div class="labal hide">@Html.LabelFor(m => m.time)</div>
        <div class="field hide">@Html.EditorFor(m => m.time)</div>

        <div class="labal hide">@Html.LabelFor(m => m.location)</div>
        <div class="field hide">@Html.EditorFor(m => m.location)</div>

        <div>
            <input type="submit" value="Save" />
            @Html.ActionLink("Delete", "DeleteArticle", new { id = Model.id }) |
            @Html.ActionLink("Cancel", "Issue", new { id = Model.issue})
        </div>
    </fieldset>
}
    